<header fxLayoutAlign="space-between center">
    <div>Header works!</div>
    <div fxLayout="row" fxLayoutGap="20">
        <a routerLink="/">Home</a>
        <a routerLink="/plan-upload">Plan</a>
    </div>
</header>